:root {
    --vermelho: #e50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: "Arial Black", Times;
    font-size: 40px;
    padding: 10px;
    cursor: default;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    padding-right: 20px;
}

header nav a:hover {
    color: var(--vermelho);
    font-weight: bold;
    transition: .3s ease;
}

/* filme principal */

.filme-principal {
    font-size: 16px;
    background: url('/img/venom-capa.jpg');

    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-bottom: 20px;
}


.filme-principal .titulo {
    margin-top: 10%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao {
    margin: 10px 0 40px;
}

.botao {
    font-size: 12px;
    color: white;
    background-color: rgba(0,0,0,.50);
    border: none;
    padding: 15px 30px;
    margin-right: 15px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 5px;
}

.container {
    margin-left: 20px;
}

.filme-principal .descricao {
    width: 70%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.banner {
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url("/img/capa-house.jpg");
    background-size: cover;
    height: 450px;
    margin-top: 20px;
}

footer {
    width: 100%;
}

.rodape-info {
    padding: 40px;
    display: flex;
    width: 100%;
}

.info {
    width: 50%;
}

.links {
    width: 50%;
    color: var(--vermelho);
}

.links a {
    text-decoration: none;
    color: white;
    display: block;
    padding-bottom: 10px;
}

.links a:hover {
    color: var(--vermelho);
    font-weight: 700;
}

.rodape .referencia {
    width: 100%;
    margin: 0;
    background-color: rgba(255,0,0,.50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.referencia p {
    padding: 20px;
}

.referencia a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}