@media screen and (max-width: 760px) {
    header .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }

    .botao {
        margin-top: 5px;
        width: 300px;
    }
}